html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after,
html {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    font-family: $font-body;
}

a,
body {
    color: #fff;
}

a,
p {
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3 {
    font-family: $font-title;
}

p {
    margin-top: 0;
    margin-bottom: 1.5em;
    color: #ddd;
}

.container {
    width: 90%;
    margin: auto;

    @include breakpoint(large) {
        width: 80%;
    }
}

section {
    padding-bottom: 140px;
    background-color: $mainBlue;

    @include breakpoint(medium) {
        padding-bottom: 240px;
    }
}

.btn-primary {
    background: linear-gradient(to right, $ctaCyan, $ctaBlue);
    border-radius: 30px;
    padding: 15px 40px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    transition: all .5s ease;

    &:hover {
        opacity: .9;
    }
}

input[type="text"],
input[type="submit"] {
    border: none;
    outline: none;
    padding: 15px 30px;
    border-radius: 30px;
}