html {
    font-size: 100%;
}

*,
*::before,
*::after,
html {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: $font-body;
}

a,
body {
    color: #fff;
}

a,
p {
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3 {
    font-family: $font-title;
}

p {
    margin-top: 0;
    margin-bottom: 1.5em;
    color: #ddd;
}

.container {
    width: 90%;
    margin: auto;

    @include breakpoint(large) {
        width: 80%;
    }
}

section {
    padding-bottom: 70px;
    background-color: $mainBlue;

    @include breakpoint(medium) {
        padding-bottom: 140px;
    }
}

.btn-primary {
    background: linear-gradient(to right, $ctaCyan, $ctaBlue);
    border-radius: 30px;
    padding: 15px 85px;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 100px;
}