.service {

    .services {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;

        @include breakpoint(medium) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .service-item {
        // border: 1px solid red;

        img {
            height: 80px;
            margin-bottom: 1rem;
        }

        &-info-title {
            font-size: 1.5rem;
            font-family: $font-title;
            font-weight: 700;
        }

        &-info-desc {
            color: #ddd;

            @include breakpoint(medium) {
                max-width: 80%;
                margin: 0 auto;
            }
        }
    }
}