html {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
body {
  color: #fff;
}

a,
p {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  color: #ddd;
}

.container {
  width: 90%;
  margin: auto;
}
@media (min-width: 999px) {
  .container {
    width: 80%;
  }
}

section {
  padding-bottom: 140px;
  background-color: #181f2a;
}
@media (min-width: 899px) {
  section {
    padding-bottom: 240px;
  }
}

.btn-primary {
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border-radius: 30px;
  padding: 15px 40px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.5s ease;
}
.btn-primary:hover {
  opacity: 0.9;
}

input[type=text],
input[type=submit] {
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 30px;
}

header {
  background-color: #1b2330;
  position: relative;
}
header .curvy {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 120px;
  background-image: url("../images/bg-curvy-mobile.svg");
  background-position: bottom center;
  background-size: cover;
}
@media (min-width: 899px) {
  header .curvy {
    background-image: url("../images/bg-curvy-desktop.svg");
  }
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 50px 0;
}
@media (min-width: 999px) {
  header nav {
    padding: 50px 80px;
  }
}
header nav a {
  margin-right: 30px;
}
@media (min-width: 999px) {
  header nav a {
    margin-right: 20px;
  }
}
header nav a:last-child {
  margin-right: 0;
}
header nav img {
  width: 100px;
}
@media (min-width: 999px) {
  header nav img {
    width: 180px;
  }
}

.hero {
  background-color: #1b2330;
  position: relative;
}
.hero img.curvy {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.hero .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero .flex-container h1,
.hero .flex-container p,
.hero .flex-container a,
.hero .flex-container img {
  z-index: 1;
  margin-bottom: 20px;
}
.hero .flex-container img.illustration {
  width: 100%;
}
@media (min-width: 999px) {
  .hero .flex-container img.illustration {
    width: 50%;
  }
}
.hero .flex-container h1 {
  font-size: 2rem;
  max-width: 678px;
}
.hero .flex-container p {
  max-width: 80%;
}
@media (min-width: 999px) {
  .hero .flex-container p {
    max-width: 40%;
  }
}

.service .services {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
@media (min-width: 899px) {
  .service .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
.service .service-item img {
  height: 80px;
  margin-bottom: 1rem;
}
.service .service-item-info-title {
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.service .service-item-info-desc {
  color: #ddd;
}
@media (min-width: 899px) {
  .service .service-item-info-desc {
    max-width: 80%;
    margin: 0 auto;
  }
}

.productive__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
@media (min-width: 999px) {
  .productive__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.productive__image {
  text-align: center;
}
.productive__image img {
  width: 90%;
}
.productive__text {
  text-align: left;
}
.productive__text h2 {
  font-size: 2rem;
}
@media (min-width: 999px) {
  .productive__text h2 {
    width: 70%;
  }
}
.productive__text a {
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 25px;
  padding-bottom: 5px;
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  transition: all 1s ease-in-out;
}
.productive__text a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.quotes__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 500px;
  margin: auto;
  position: relative;
}
.quotes__grid::before {
  content: url("../images/bg-quotes.png");
  position: absolute;
  top: -40px;
  left: 0;
}
@media (min-width: 999px) {
  .quotes__grid::before {
    top: -40px;
    left: -25px;
  }
}
@media (min-width: 999px) {
  .quotes__grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
  }
}
.quotes .quote {
  background-color: #1b2330;
  padding: 25px 15px;
  z-index: 1;
}
.quotes .quote__clients {
  display: flex;
  align-items: center;
}
.quotes .quote__clients img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.quotes .quote__clients div {
  display: flex;
  flex-direction: column;
}
.quotes .quote__clients div p {
  margin: 0;
  font-size: 0.8rem;
}
.quotes .quote__clients div p:first-child {
  font-weight: 700;
  color: #fff;
}

.getstarted .box {
  background-color: #1b2330;
  text-align: center;
  border-radius: 8px;
  padding: 45px;
  margin: auto;
}
@media (min-width: 999px) {
  .getstarted .box {
    width: 60%;
  }
}
.getstarted .box h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.getstarted .box .subscribe {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 30px;
}
@media (min-width: 999px) {
  .getstarted .box .subscribe {
    grid-template-columns: 1fr 200px;
  }
}

footer {
  background-color: #1b2330;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
}
footer .logo {
  margin-bottom: 20px;
}
footer .footer__nav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 999px) {
  footer .footer__nav {
    grid-template-columns: repeat(2, 2fr) repeat(3, 1fr);
  }
}
footer .footer__nav__location {
  display: flex;
}
footer .footer__nav__location svg {
  flex: 0 0 20px;
  margin-top: 3px;
  margin-right: 20px;
}
footer .footer__nav__location p {
  line-height: 1.8;
}
footer .footer__nav__contact {
  justify-self: flex-start;
}
@media (min-width: 999px) {
  footer .footer__nav__contact {
    justify-self: center;
  }
}
footer .footer__nav__contact .phone,
footer .footer__nav__contact .email {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
footer .footer__nav__contact .phone svg,
footer .footer__nav__contact .email svg {
  margin-right: 20px;
}
footer .footer__nav__contact .phone p,
footer .footer__nav__contact .email p {
  margin: 0;
}
footer .footer__nav__links-1 li, footer .footer__nav__links-2 li {
  margin-bottom: 20px;
}
footer .footer__nav__social-media {
  justify-self: center;
}
footer .footer__nav__social-media a {
  margin-right: 10px;
}
footer .footer__nav__social-media a svg {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 8px;
}
footer .footer__nav__social-media a:last-child {
  margin-right: 0;
}
@media (min-width: 999px) {
  footer .footer__nav__social-media {
    justify-self: flex-end;
  }
}

/*# sourceMappingURL=style.css.map */
